# Virtual environment
venv/

# Temp + editor files
*.swp
*.pyc
__pycache__/

# Environment variables
.env

# One-off scripts (optional)
add_mushroom.py
import_mushrooms.py
patch.py
*_pop.py
test_*.py

# Temporary or scratch files
app/index/templates/command_cheatsheet.html

