{% extends "base.html" %}

{% block title %}Sporgasm{% endblock %}

{% block content %}
<div class="Title">
    <!-- Loop through photos in JSON-->
     {% for donkey in title_image %}
            <img src="{{ url_for('static', filename=donkey.photo_path) }}" alt="{{ donkey.title }}">
     {% endfor %}
</div>

<div class="Links">
  {% for donkey in link_images %}
    <div class="link-item {% if donkey.highlight %}center-img{% endif %}">
      <div class="link-label">
        {% if donkey.title == "Old Man" %}
          <h2>Microscopy Videos</h2>
        {% elif donkey.title == "Mushroom Database" %}
          <h2>Mushroom Identification</h2>
        {% elif donkey.title == "Shroom Gills" %}
          <h2>Microscopy Photos</h2>
        {% endif %}
      </div>
      <a href="{{ donkey.link if donkey.link else '#' }}">
        <img src="{{ url_for('static', filename=donkey.photo_path) }}" alt="{{ donkey.title }}">
      </a>
    </div>
  {% endfor %}
</div>

<!-- Search bar -->

<div id="mushroom-db" style="text-align: center; margin: 200px 0;">
 <h2>Mushroom Database</h2>
<form method="get" action="/" style="margin-bottom: 20px; margin-top: 10px; text-align: center;">
    <input type="text" name="q" value="{{ query }}" placeholder="Search mushrooms..." style="padding: 5px; width: 300px;">
    <button type="submit" style="padding: 5px;">Search</button>
  </form>
  
  <!-- A–Z quick filter -->
  <div style="text-align: center; margin-bottom: 20px;">
    {% for letter in 'ABCDEFGHIJKLMNOPQRSTUVWXYZ' %}
      <a href="/?q={{ letter }}#mushroom-database" style="margin: 0 6px; color: white;">{{ letter }}</a>
    {% endfor %}
  </div>

  {% for mushroom in mushrooms %}
  <div class="mushroom-card">
    <a href="{{ url_for('spore_sheet.spore_sheet', mushroom_id=mushroom.id) }}">
      <img src="{{ url_for('static', filename=mushroom.home_photo_path) }}" alt="{{ mushroom.name }}" width="200">
    <p><strong>{{ mushroom.name }}</strong> </p>
    <p><strong><em>{{ mushroom.scientific_name }}</em></strong></p>
    </a>
  </div>
{% endfor %}

<div class="Gills">
    {% for donkey in gills_image %}
        <img src="{{ url_for('static', filename=donkey.photo_path) }}" alt="{{ donkey.title }}">
    {% endfor %}
</div>
{% endblock %}
