p {
    width:500px;
    margin: 0 auto;
    background: black;
    text-align: center;
    font-size: 60px;
    color: #9F9D95;
    font-weight: bolder;
}

h1 {
    color: rgb(111, 111, 111);
    font-size: 15px;
    margin-left: 100px;
    margin-right: 100px;
    align: top;
}

body {
    background: black;
}

img {
    display: block;
    max-width: 70%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.gills_img {
    max-width: 70%;
    height: auto;
    display: block;
}