<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

        <!-- Favicon Links For Each HTML Page -->
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
        <link rel="icon" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}" type="image/png">
        <link rel="icon" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}" type="image/png">
        <link rel="apple-touch-icon" sizes="192x192" href="{{ url_for('static', filename='android-chrome-192x192.png') }}">
        <link rel="apple-touch-icon" sizes="512x512" href="{{ url_for('static', filename='android-chrome-512x512.png') }}">

        <!-- CSS link -->
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">


    {% block head %}{% endblock %}
</head>
<body>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>
{% if request.path not in ['/'] %}
<nav class="navbar">
        <a href="/" class="text-links">Home</a>&nbsp;&nbsp;&nbsp;
    {% if request.path != '/videos' %}
        <a href="/videos" class="text-links">Videos</a>&nbsp;&nbsp;&nbsp;
    {% endif %}
    {% if request.path != '/photos' %}
        <a href="/photos" class="text-links">Photos</a>&nbsp;&nbsp;&nbsp;
    {% endif %}
<!-- Other navigation links -->
</nav>
{% endif %}
</html>

