<!doctype html>
<html lang="en-US">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="../static/styles.css" >
        <title>Sporgasm</title>

<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}" type="image/png">
<link rel="icon" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}" type="image/png">
<link rel="apple-touch-icon" sizes="192x192" href="{{ url_for('static', filename='android-chrome-192x192.png') }}">
<link rel="apple-touch-icon" sizes="512x512" href="{{ url_for('static', filename='android-chrome-512x512.png') }}">

    </head>
    <body>

        <div class="Mushrooms">
            <img src="../static/Title.JPG" alt="Title">
            <h1 class="text"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nisl arcu, consectetur pharetra consectetur id, interdum facilisis lorem. Cras quis diam sollicitu>
                <br>
                <h1 class="text"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nisl arcu, consectetur pharetra consectetur id, interdum facilisis lorem. Cras quis diam sollicitudin, tincidunt magna id, sollicitudin nunc. Integer vulputate velit at mi maximus ornare. Integer laoreet euismod libero eu sollicitudin. Maecenas sed neque metus. Vivamus vitae aliquam libero. Suspendisse malesuada elementum nunc in dictum. Fusce molestie vel arcu a lobortis. </h1>
                <br>
                <h1>Phasellus id dui ut dui laoreet rhoncus. Cras ipsum mi, vestibulum sed turpis nec, porttitor aliquet libero. In auctor euismod nisi a dignissim. Aliquam maximus arcu turpis, nec dignissim arcu varius eu. Duis eu magna sollicitudin, malesuada lorem ut, posuere lectus. Sed dictum ex elit. Donec vel turpis nec turpis dapibus faucibus eget a quam. Quisque ac quam diam. Morbi ut pretium enim. Ut laoreet vitae ante nec eleifend. Morbi nisi ex, interdum at nisi sed, tempus bibendum turpis. </h1>
                <br>
                <h1>Phasellus in mi in lacus blandit viverra. Vestibulum eros ipsum, semper varius malesuada id, sodales facilisis dolor. Quisque dui neque, hendrerit et bibendum non, blandit at nisl. Donec lectus sem, viverra eu congue efficitur, tincidunt at eros. Vivamus tincidunt posuere odio eu feugiat. Sed eu neque et risus gravida ultrices quis vel turpis. Morbi suscipit neque ex. </h1>
                <br>
                <h1>Sed sagittis congue commodo. Suspendisse pretium odio sed elit blandit, et rhoncus mauris tempus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus convallis ullamcorper lectus quis vehicula. Nulla quis varius metus. Vivamus fringilla tellus vitae volutpat egestas. Duis mollis nisl nec dui pulvinar mollis. Nam sodales maximus dui non venenatis. Integer elementum urna elit, euismod semper nisl auctor at. Fusce gravida lorem vitae leo mattis eleifend. Nunc at libero non nulla euismod ultricies eu non erat. </h1>
        </div>
        <img class="gills_img" src="../static/Gills.JPG" alt="Gills">


    </body>
</html>
