{% extends "base.html" %}

{% block title %}Videos{% endblock %}

{% block content %}
    <h1>Microscopy Videos</h1>

    <div class="video-grid">
        {% for video in videos %}
        <div class="video-item">
            <a href="/videos/thread/{{ video.id }}">
                <div class="thumbnail-container">   
                    <img src="{{ video.thumbnail }}" alt="{{ video.title }}">
                </div>
            </a>
            <p class="video-title">{{ video.title }}</p>
        </div>
        {% endfor %}
    </div>
    
    <div class="pagination">
        {% if has_prev %}
        <a href="/videos?page={{ page - 1 }}" class="prev">Previous</a>
        {% else %}
            <span class="page"></span> <!-- placeholder so buttons don't shift on first and last pages -->
        {% endif %}
        
        <span class="page">Page {{ page }}</span>
        
        {% if has_next %}
        <a href="/videos?page={{ page + 1 }}" class="next">Next</a>
        {% else %}
            <span class="placeholder"></span> <!-- placeholder so buttons don't shift on first and last pages -->
        {% endif %}
    </div>
    {% endblock %}

