{% extends "base.html" %}

{% block title %}Sporgasm{% endblock %}

{% block content %}


<div class="Shrooms">
    <div class="Mushrooms">
        <img src="{{ url_for('static', filename='images/site assets/Title.JPG') }}" alt="Title">
    </div>
        <div class="link-container">
            <div class="video-link">
                <a href="{{ url_for('videos.video_gallery') }}">
                    <img class="yellow_mushroom" src="{{ url_for('static', filename='images/site assets/yellow_mushroom.JPG') }}" alt="yellow_mushroom">
                </a>
            </div>
            <div class="photo-link">
                <a href="{{ url_for('photos.photo_gallery') }}">
                    <img class="mushroom_edge" src="{{ url_for('static', filename='images/site assets/mushroom_edge.JPG') }}" alt="mushroom_edge">
                </a>
            </div>
        </div>
        <div class="Mushrooms">
            <img src="{{ url_for('static', filename='images/site assets/Gills.JPG') }}" alt="Gills">
        </div>
</div>

        


{% endblock %}