{% extends "base.html" %}

{% block title %}{{ mushroom.name }} - Sporgasm{% endblock %}

{% block content %}
<div class="spore-sheet-container">

  <!-- Common Name -->
  <h2 class="common-name">{{ mushroom.name }}</h2>

<!-- Scientific Name (smaller + closer) -->
<h2 class="scientific-name">{{ mushroom.scientific_name }}</h2>

  <!-- Image -->
  <img src="{{ url_for('static', filename=mushroom.home_photo_path) }}" alt="{{ mushroom.name }}">

  <!-- Description -->
  <p style=>
    Description: {{ mushroom.description }}
  </p>

  <!-- Location -->
  <p><strong>Location:</strong> {{ mushroom.location }}</p>

  <!-- Edibility -->
  <p>
    <strong>Edibility:</strong>
    {% if mushroom.is_edible %}
      Edible 🍽️
    {% else %}
      Not Edible ☠️
    {% endif %}
  </p>

  <!-- Other Common Names -->
  {% if mushroom.other_common_names %}
    <p><strong>Other Common Names:</strong> {{ mushroom.other_common_names | join(', ') }}</p>
  {% endif %}

</div>
{% endblock %}
